In [1]:
import numpy as np
from scipy.io import loadmat  # this is the SciPy module that loads mat-files
import matplotlib.pyplot as plt
from datetime import datetime, date, time
import pandas as pd
import os

C:\Users\allen\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

# VENGONO ELABORATI I DATASET PRESI PRESSO : https://snap.stanford.edu/data/cit-HepTh.html

In [2]:
def castIntToString(inputIntValue): #funzione che fa cast in lettura
    return str(inputIntValue)


citations = pd.read_csv('From-To.txt', sep = "\t", converters = {'NodeId': castIntToString})
citations = citations.astype({'NodeId':'string'})
citations

         NodeId  ToNodeId
0          1001   9304045
1          1001   9308122
2          1001   9309097
3          1001   9311042
4          1001   9401139
...         ...       ...
352802  9912286   9805150
352803  9912286   9806074
352804  9912286   9808140
352805  9912286   9810068
352806  9912286   9901023

[352807 rows x 2 columns]

In [6]:
str(citations.values)

"[['1001' 9304045]\n ['1001' 9308122]\n ['1001' 9309097]\n ...\n ['9912286' 9808140]\n ['9912286' 9810068]\n ['9912286' 9901023]]"

In [ ]:
def castIntToString(inputIntValue): #funzione che fa cast in lettura
    return str(inputIntValue)


articles_dates = pd.read_csv('articles-dates.txt', sep = "\t", converters = {'NodeId': castIntToString})
articles_dates = articles_dates.astype({'NodeId':'string'})
articles_dates

In [ ]:
#take all citations starting from 1001
citations[citations['NodeId']==1001]

In [ ]:
#take the date of pub of 1001
articles_dates[articles_dates['NodeId']==1001]

In [ ]:
join = pd.merge(citations,articles_dates)
join = join.astype({'NodeId':'string'})
join

In [ ]:

pad = ['','0','00','000','0000','00000','000000','0000000']

for i in range(len(join)):
    if(i%1000 == 0):
        print(i)
    if(len(join.iloc[i]['NodeId'])<7):
        lenPad = 7-len(join.iloc[i]['NodeId'])
        #join.iloc[i]['NodeId'] = pad[lenPad]+join.iloc[i]['NodeId']
        join.iloc[i, join.columns.get_loc('NodeId')] = pad[lenPad]+join.iloc[i]['NodeId']
join

In [ ]:
join

In [ ]:
citations_and_SourceOfCitationPubDate = join
citations_and_SourceOfCitationPubDate

In [ ]:
join['NodeId']= citations_and_SourceOfCitationPubDate['NodeId']
join

In [ ]:
join.to_csv("./join.csv",index=False)

In [ ]:
#creo il dataframe che conterrrà tutti i titoli e autori
import pandas as pd
abstract_df = pd.DataFrame(columns=['Paper','Title','Authors'])
abstract_df

In [ ]:
cwd = os.getcwd()
print(cwd)
os.listdir(cwd+'\\abstracts_folder')

In [ ]:
keys = ['Paper','Title','Authors']

for i in ['1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000','2001','2002','2003']:
    os.chdir(cwd+'\\abstracts_folder'+ '\\'+i+'\\')
    print(os.getcwd())
    #print(os.listdir(os.getcwd()))
    
    paper_list = os.listdir(os.getcwd()) #lista di file/articoli nella cartella
    
    for j in paper_list: #per ogni articolo
    
        abstracts_temp = pd.read_csv(j, sep = "\t") #definisco df su articolo
        
        col_name = abstracts_temp.columns #rinomino il nome dell'unico campo per accedere comodo 
        abstracts_temp.rename(columns={col_name[0]: "rows"}, inplace = True)
        
        

        for k in range(len(abstracts_temp)): #analizzo le prime 5 righe ed estraggo i valori di interesse
            if(abstracts_temp.iloc[k]['rows'].startswith('Paper')):
                Paper = abstracts_temp.iloc[k]['rows']
            elif(abstracts_temp.iloc[k]['rows'].startswith('Title')):
                Title = abstracts_temp.iloc[k]['rows']
            elif(abstracts_temp.iloc[k]['rows'].startswith('Authors')):
                Authors = abstracts_temp.iloc[k]['rows']
        
        serie = pd.Series({'Paper' : Paper, 'Title':Title,'Authors':Authors}) #creo record per nuovo df con valori di interesse
        abstract_df = pd.concat([abstract_df, serie.to_frame().T]) #aggiungo il record nel nuovo df
        
    print("###########################################")
    

abstract_df

In [ ]:
abstract_df.reset_index(drop = True, inplace = True)
abstract_df['Paper'] = abstract_df['Paper'].str.replace("Paper: hep-th/","")
abstract_df['Title'] = abstract_df['Title'].str.replace("Title: ","")
abstract_df['Authors'] = abstract_df['Authors'].str.replace("Authors: ","")
abstract_df

In [ ]:
abstract_df.to_csv("./paperId_and_info.csv",index=False)

ICite Manipulation

In [20]:
iciteData = pd.read_csv('icite.csv')
iciteData

<ipython-input-20-c605c96435ac>:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  iciteData = pd.read_csv('icite.csv')

,pmid,doi,title,authors,year,journal,is_research_article,citation_count,field_citation_rate,expected_citations_per_year,...,animal,molecular_cellular,x_coord,y_coord,apt,is_clinical,cited_by_clin,cited_by,references,provisional
0,1022616,NaN,[Echocardiographic studies with a multiscanner...,"L Gastaldi, A M Cottino, O Rusconi, E Donegani...",1976,G Ital Cardiol,True,1,1.152778,NaN,...,0.0,0.0,0.0,1.00,0.05,0,NaN,702598,NaN,NaN
1,1022617,NaN,[Diagnosis of fascicular or left partial block].,A De Micheli,1976,G Ital Cardiol,True,1,1.410666,NaN,...,0.0,0.0,0.0,1.00,0.05,0,NaN,21496172,NaN,NaN
2,1022618,NaN,[The coronary care unit and aortic counterpuls...,"P I Porciello, P Rossi",1976,G Ital Cardiol,True,0,NaN,NaN,...,0.0,0.0,0.0,-0.75,0.05,0,NaN,NaN,NaN,NaN
3,1022619,NaN,[Prognostic value of serial determination of C...,"A Selvini, C Gramolini, C Belli, S Corallo",1976,G Ital Cardiol,True,0,NaN,NaN,...,0.0,0.0,0.0,1.00,0.05,0,NaN,NaN,NaN,NaN
4,1022620,10.1093/geront/16.2.102,User evaluation of housing for the elderly.,F M Carp,1976,Gerontologist,True,6,0.696159,NaN,...,0.0,0.0,0.0,1.00,0.05,0,24782240,10636604 7333333 755016 24782240 15911033 7014416,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2023884,NaN,[Inpatient crisis intervention in psychiatric ...,"M Günter, W Günter",1991,Prax Kinderpsychol Kinderpsychiatr,True,1,0.914755,0.21821,...,0.0,0.0,0.0,1.00,0.05,0,NaN,10434471,NaN,No
999996,2023885,NaN,[Termination of therapy in inpatient treatment].,"M J Schulte-Markwort, U Knölker",1991,Prax Kinderpsychol Kinderpsychiatr,True,0,NaN,NaN,...,0.0,0.0,0.0,1.00,0.05,0,NaN,NaN,NaN,No
999997,2023886,NaN,[Qualitative evaluation of systemic aspects of...,H Kowerk,1991,Prax Kinderpsychol Kinderpsychiatr,True,0,NaN,NaN,...,0.0,0.0,0.0,1.00,0.05,0,NaN,NaN,NaN,No
999998,2023887,NaN,[...together again. German unity also in patho...,"J Kracht, G Möbius",1991,Pathologe,True,0,NaN,NaN,...,0.0,0.0,0.0,1.00,0.05,0,NaN,NaN,NaN,No
999999,2023888,NaN,[Cancer of the exocrine pancreas--a classifica...,"O Reich, J Justus",1991,Pathologe,False,0,NaN,NaN,...,0.0,0.0,0.0,1.00,0.05,0,NaN,NaN,NaN,No

In [23]:
#Lascio solo articoli per cui è presente il doi


iciteData_reduced = iciteData.drop(columns=["field_citation_rate",'expected_citations_per_year', 'citations_per_year','relative_citation_ratio', 'nih_percentile', 'human', 'animal','molecular_cellular', 'x_coord', 'y_coord', 'apt', 'is_clinical','cited_by_clin','provisional','is_research_article','references' ])
iciteData_reduced_doi = iciteData_reduced[iciteData_reduced['doi'].notnull()]
iciteData_reduced_doi.reset_index(drop = True, inplace = True)
iciteData_reduced_doi

,pmid,doi,title,authors,year,journal,citation_count,cited_by
0,1022620,10.1093/geront/16.2.102,User evaluation of housing for the elderly.,F M Carp,1976,Gerontologist,6,10636604 7333333 755016 24782240 15911033 7014416
1,1022621,10.1093/geront/16.2.112,Assessing the need for semi-dependent housing ...,"R J Newcomer, S R Newcomer, L E Gelwicks",1976,Gerontologist,0,NaN
2,1022622,10.1093/geront/16.2.118,Reminiscing and ego integrity in institutional...,"W Boylin, S K Gordon, M F Nehrke",1976,Gerontologist,37,2185162 22104417 3759291 6396235 11536347 2332...
3,1022623,10.1093/geront/16.2.125,A program for the elderly at a private psychia...,L W Lazarus,1976,Gerontologist,2,3793318 4008130
4,1022624,10.1093/geront/16.2.132,Marriage and remarriage rates among older Amer...,"J Treas, A VanHilst",1976,Gerontologist,5,10251302 12282128 2711023 6439685 7183555
...,...,...,...,...,...,...,...,...
551230,2023878,10.1023/a:1015812725011,Stereoselective transport of baclofen across t...,"J B van Bree, C D Heijligers-Feijen, A G de Bo...",1991,Pharm. Res.,23,11512126 15618688 17708062 15210585 24833004 2...
551231,2023879,10.1023/a:1015864709082,Pharmacodynamics of methylprednisolone phospha...,"H Derendorf, H Möllmann, M Krieg, S Tunn, C Mö...",1991,Pharm. Res.,20,9505979 11139109 16686770 10869928 27864317 81...
551232,2023880,10.1023/a:1015816825920,Simplified determination of antipyrine clearan...,"A el-Yazigi, D A Raines, H Ali, J Sieck, P Ern...",1991,Pharm. Res.,10,7986571 26703262 8215085 7751582 17590644 7826...
551233,2023881,10.1023/a:1015820926829,Prediction of acute graft rejection in renal t...,"J Grevel, K L Napoli, M S Welsh, N E Atkinson,...",1991,Pharm. Res.,11,1458762 8335040 25162214 12231373 22361228 147...
551234,2023882,10.1023/a:1015872910899,The relationship between urine and plasma conc...,"W F Elmquist, L E Riad, I E Leppik, R J Sawchuk",1991,Pharm. Res.,3,7711283 12734608 27021726

In [24]:
iciteData_reduced_doi.to_csv("./iciteData.csv",index=False)

# RIPARTO DA QUA IN LETTURA

Dataset di Arxiv su fisica

In [2]:
#LEGGO DATASET DI CITAZIONI

def castIntToString(inputIntValue): #funzione che fa cast in lettura
    return str(inputIntValue)


citations = pd.read_csv('citations(hep-th).csv',converters = {'NodeId': castIntToString})
citations.rename(columns={'NodeId': "FromNodeId"}, inplace = True)
citations = citations.astype({'ToNodeId':'string','FromNodeId':'string'})
citations

       FromNodeId ToNodeId
0         0001001  9304045
1         0001001  9308122
2         0001001  9309097
3         0001001  9311042
4         0001001  9401139
...           ...      ...
138681    9912286  9805150
138682    9912286  9806074
138683    9912286  9808140
138684    9912286  9810068
138685    9912286  9901023

[138686 rows x 2 columns]

In [3]:
#LEGGO DATASET DI ARTICOLI E RELATIVE INFO (POSSONO ESSERE TROVATI SU ARXIV TRAMITE hep-th/NodeID)

paperId_and_info_and_date = pd.read_csv('paperId_and_info_and_Date.csv')
paperId_and_info_and_date.rename(columns={'NodeId': "ToNodeId"}, inplace = True)
paperId_and_info_and_date = paperId_and_info_and_date.astype({'ToNodeId':'string'})
paperId_and_info_and_date

,ToNodeId,Title,Authors,Date
0,9310201,Generalized Measures in Gauge Theory,J.M. Figueroa-O'Farrill,1993-10-01
1,9310202,String Propagation in Gravitational Wave Backg...,E. Kiritsis and C. Kounnas,1993-10-01
2,9312201,On Nonlinear Superconformal Algebras With N > 4,Z. Khviengia and E. Sezgin,1993-11-30
3,9312202,The Perturbative Calculation of the Spin-Spin ...,B. Mikhak and A.M. Zarkesh,1993-12-01
4,9312203,On Projective Gravity and the vanishing of the...,C. Gasparakis,1993-12-01
...,...,...,...,...
1732,9912290,Shuffling quantum field theory,Dirk Kreimer,1999-12-10
1733,9912291,Small object limit of Casimir effect and the s...,"O. Kenneth, S. Nussinov",1999-12-10
1734,9912292,1/4 PBGS and Superparticle Actions,"F.Delduc, E. Ivanov, S. Krivonos",1999-12-10
1735,9912293,Corrections to the Abelian Born-Infeld Action ...,L. Cornalba (I.H.E.S.),1999-12-10
1736,9912294,Relativistic particle interaction with a weak ...,"L. F. Blazhyjevskii, A. Y. Marko",1999-12-10

In [4]:
paperId_and_info_and_date.sort_values(by='Date')

,ToNodeId,Title,Authors,Date
0,9310201,Generalized Measures in Gauge Theory,J.M. Figueroa-O'Farrill,1993-10-01
1,9310202,String Propagation in Gravitational Wave Backg...,E. Kiritsis and C. Kounnas,1993-10-01
2,9312201,On Nonlinear Superconformal Algebras With N > 4,Z. Khviengia and E. Sezgin,1993-11-30
3,9312202,The Perturbative Calculation of the Spin-Spin ...,B. Mikhak and A.M. Zarkesh,1993-12-01
4,9312203,On Projective Gravity and the vanishing of the...,C. Gasparakis,1993-12-01
...,...,...,...,...
1735,9912293,Corrections to the Abelian Born-Infeld Action ...,L. Cornalba (I.H.E.S.),1999-12-10
1731,9912289,Gauge Fixing in the Chain by Chain Method,A Shirzad and F Loran,1999-12-10
1730,9912288,S-wave absorption of scalars by noncommutative...,"Y.S. Myung, Gungwon Kang, H.W. Lee (Inje Unive...",1999-12-10
1732,9912290,Shuffling quantum field theory,Dirk Kreimer,1999-12-10
1736,9912294,Relativistic particle interaction with a weak ...,"L. F. Blazhyjevskii, A. Y. Marko",1999-12-10

In [19]:
#prendo sottoinsieme di citazioni, per cui esiste il titolo associato ad articolo citante e citato

#take all rows of citations having fromNode in PaperInfo
res =citations[citations.FromNodeId.isin(paperId_and_info_and_date.ToNodeId)]

#take all rows of citations having ToNode in PaperInfo
res2 =res[res.ToNodeId.isin(paperId_and_info_and_date.ToNodeId)]

#citations having all articles id with its proper article data and code
res2

       FromNodeId ToNodeId
151       9605222  9412236
155       9605222  9503212
161       9605222  9510225
182       9609239  9412236
203       9609239  9510225
...           ...      ...
138629    9911252  9807229
138638    9912219  9812251
138647    9912235  9912219
138654    9912240  9705216
138665    9912252  9412229

[1992 rows x 2 columns]

In [19]:
#FACCIO JOIN TRA I DUE DATASET 

#citation_and_description = pd.merge(paperId_and_info_and_date,citations)
#citation_and_description

Dataset ICite di NIH
link at: 'https://nih.figshare.com/collections/iCite_Database_Snapshots_NIH_Open_Citation_Collection_/4586573'

In [5]:
iciteData = pd.read_csv('iciteData.csv')
iciteData

,pmid,doi,title,authors,year,journal,citation_count,cited_by
0,1022620,10.1093/geront/16.2.102,User evaluation of housing for the elderly.,F M Carp,1976,Gerontologist,6,10636604 7333333 755016 24782240 15911033 7014416
1,1022621,10.1093/geront/16.2.112,Assessing the need for semi-dependent housing ...,"R J Newcomer, S R Newcomer, L E Gelwicks",1976,Gerontologist,0,NaN
2,1022622,10.1093/geront/16.2.118,Reminiscing and ego integrity in institutional...,"W Boylin, S K Gordon, M F Nehrke",1976,Gerontologist,37,2185162 22104417 3759291 6396235 11536347 2332...
3,1022623,10.1093/geront/16.2.125,A program for the elderly at a private psychia...,L W Lazarus,1976,Gerontologist,2,3793318 4008130
4,1022624,10.1093/geront/16.2.132,Marriage and remarriage rates among older Amer...,"J Treas, A VanHilst",1976,Gerontologist,5,10251302 12282128 2711023 6439685 7183555
...,...,...,...,...,...,...,...,...
551230,2023878,10.1023/a:1015812725011,Stereoselective transport of baclofen across t...,"J B van Bree, C D Heijligers-Feijen, A G de Bo...",1991,Pharm. Res.,23,11512126 15618688 17708062 15210585 24833004 2...
551231,2023879,10.1023/a:1015864709082,Pharmacodynamics of methylprednisolone phospha...,"H Derendorf, H Möllmann, M Krieg, S Tunn, C Mö...",1991,Pharm. Res.,20,9505979 11139109 16686770 10869928 27864317 81...
551232,2023880,10.1023/a:1015816825920,Simplified determination of antipyrine clearan...,"A el-Yazigi, D A Raines, H Ali, J Sieck, P Ern...",1991,Pharm. Res.,10,7986571 26703262 8215085 7751582 17590644 7826...
551233,2023881,10.1023/a:1015820926829,Prediction of acute graft rejection in renal t...,"J Grevel, K L Napoli, M S Welsh, N E Atkinson,...",1991,Pharm. Res.,11,1458762 8335040 25162214 12231373 22361228 147...
551234,2023882,10.1023/a:1015872910899,The relationship between urine and plasma conc...,"W F Elmquist, L E Riad, I E Leppik, R J Sawchuk",1991,Pharm. Res.,3,7711283 12734608 27021726