In [1]:
import numpy as np
from scipy.io import loadmat  # this is the SciPy module that loads mat-files
import matplotlib.pyplot as plt
from datetime import datetime, date, time
import pandas as pd
import os

C:\Users\allen\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

# VENGONO ELABORATI I DATASET PRESI PRESSO : https://snap.stanford.edu/data/cit-HepTh.html

In [4]:
def castIntToString(inputIntValue): #funzione che fa cast in lettura
    return str(inputIntValue)


citations = pd.read_csv('From-To.txt', sep = "\t", converters = {'NodeId': castIntToString})
citations = citations.astype({'NodeId':'string'})
citations

         NodeId  ToNodeId
0          1001   9304045
1          1001   9308122
2          1001   9309097
3          1001   9311042
4          1001   9401139
...         ...       ...
352802  9912286   9805150
352803  9912286   9806074
352804  9912286   9808140
352805  9912286   9810068
352806  9912286   9901023

[352807 rows x 2 columns]

In [2]:
def castIntToString(inputIntValue): #funzione che fa cast in lettura
    return str(inputIntValue)


articles_dates = pd.read_csv('articles-dates.txt', sep = "\t", converters = {'NodeId': castIntToString})
articles_dates = articles_dates.astype({'NodeId':'string'})
articles_dates

         NodeId        Date
0       9203201  1992-02-24
1       9203202  1992-03-08
2       9203203  1992-03-03
3       9203204  1992-03-09
4       9203205  1992-03-09
...         ...         ...
38552  11203032  2002-03-10
38553  11203009  2002-03-06
38554  11203005  2002-03-11
38555  11203090  2002-03-11
38556  11203023  2002-03-11

[38557 rows x 2 columns]

In [4]:
#take all citations starting from 1001
citations[citations['NodeId']==1001]

    NodeId  ToNodeId
0     1001   9304045
1     1001   9308122
2     1001   9309097
3     1001   9311042
4     1001   9401139
..     ...       ...
78    1001   9909120
79    1001   9909229
80    1001   9910238
81    1001   9910248
82    1001   9910268

[83 rows x 2 columns]

In [5]:
#take the date of pub of 1001
articles_dates[articles_dates['NodeId']==1001]

       NodeId        Date
27143    1001  2000-01-01

In [6]:
join = pd.merge(citations,articles_dates)
join = join.astype({'NodeId':'string'})
join

         NodeId  ToNodeId        Date
0          1001   9304045  2000-01-01
1          1001   9308122  2000-01-01
2          1001   9309097  2000-01-01
3          1001   9311042  2000-01-01
4          1001   9401139  2000-01-01
...         ...       ...         ...
138681  9912286   9805150  1999-12-09
138682  9912286   9806074  1999-12-09
138683  9912286   9808140  1999-12-09
138684  9912286   9810068  1999-12-09
138685  9912286   9901023  1999-12-09

[138686 rows x 3 columns]

In [9]:

pad = ['','0','00','000','0000','00000','000000','0000000']

for i in range(len(join)):
    if(i%1000 == 0):
        print(i)
    if(len(join.iloc[i]['NodeId'])<7):
        lenPad = 7-len(join.iloc[i]['NodeId'])
        #join.iloc[i]['NodeId'] = pad[lenPad]+join.iloc[i]['NodeId']
        join.iloc[i, join.columns.get_loc('NodeId')] = pad[lenPad]+join.iloc[i]['NodeId']
join

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000

         NodeId  ToNodeId        Date
0       0001001   9304045  2000-01-01
1       0001001   9308122  2000-01-01
2       0001001   9309097  2000-01-01
3       0001001   9311042  2000-01-01
4       0001001   9401139  2000-01-01
...         ...       ...         ...
138681  9912286   9805150  1999-12-09
138682  9912286   9806074  1999-12-09
138683  9912286   9808140  1999-12-09
138684  9912286   9810068  1999-12-09
138685  9912286   9901023  1999-12-09

[138686 rows x 3 columns]

In [10]:
join

         NodeId  ToNodeId        Date
0       0001001   9304045  2000-01-01
1       0001001   9308122  2000-01-01
2       0001001   9309097  2000-01-01
3       0001001   9311042  2000-01-01
4       0001001   9401139  2000-01-01
...         ...       ...         ...
138681  9912286   9805150  1999-12-09
138682  9912286   9806074  1999-12-09
138683  9912286   9808140  1999-12-09
138684  9912286   9810068  1999-12-09
138685  9912286   9901023  1999-12-09

[138686 rows x 3 columns]

In [11]:
citations_and_SourceOfCitationPubDate = join
citations_and_SourceOfCitationPubDate

         NodeId  ToNodeId        Date
0       0001001   9304045  2000-01-01
1       0001001   9308122  2000-01-01
2       0001001   9309097  2000-01-01
3       0001001   9311042  2000-01-01
4       0001001   9401139  2000-01-01
...         ...       ...         ...
138681  9912286   9805150  1999-12-09
138682  9912286   9806074  1999-12-09
138683  9912286   9808140  1999-12-09
138684  9912286   9810068  1999-12-09
138685  9912286   9901023  1999-12-09

[138686 rows x 3 columns]

In [14]:
join['NodeId']= citations_and_SourceOfCitationPubDate['NodeId']
join

         NodeId  ToNodeId        Date
0       0001001   9304045  2000-01-01
1       0001001   9308122  2000-01-01
2       0001001   9309097  2000-01-01
3       0001001   9311042  2000-01-01
4       0001001   9401139  2000-01-01
...         ...       ...         ...
138681  9912286   9805150  1999-12-09
138682  9912286   9806074  1999-12-09
138683  9912286   9808140  1999-12-09
138684  9912286   9810068  1999-12-09
138685  9912286   9901023  1999-12-09

[138686 rows x 3 columns]

In [15]:
join.to_csv("./join.csv",index=False)

In [3]:
#creo il dataframe che conterrrà tutti i titoli e autori
import pandas as pd
abstract_df = pd.DataFrame(columns=['Paper','Title','Authors'])
abstract_df

Empty DataFrame
Columns: [Paper, Title, Authors]
Index: []

In [4]:
cwd = os.getcwd()
print(cwd)
os.listdir(cwd+'\\abstracts_folder')

C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS

['1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003']

In [5]:
keys = ['Paper','Title','Authors']

for i in ['1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000','2001','2002','2003']:
    os.chdir(cwd+'\\abstracts_folder'+ '\\'+i+'\\')
    print(os.getcwd())
    #print(os.listdir(os.getcwd()))
    
    paper_list = os.listdir(os.getcwd()) #lista di file/articoli nella cartella
    
    for j in paper_list: #per ogni articolo
    
        abstracts_temp = pd.read_csv(j, sep = "\t") #definisco df su articolo
        
        col_name = abstracts_temp.columns #rinomino il nome dell'unico campo per accedere comodo 
        abstracts_temp.rename(columns={col_name[0]: "rows"}, inplace = True)
        
        

        for k in range(len(abstracts_temp)): #analizzo le prime 5 righe ed estraggo i valori di interesse
            if(abstracts_temp.iloc[k]['rows'].startswith('Paper')):
                Paper = abstracts_temp.iloc[k]['rows']
            elif(abstracts_temp.iloc[k]['rows'].startswith('Title')):
                Title = abstracts_temp.iloc[k]['rows']
            elif(abstracts_temp.iloc[k]['rows'].startswith('Authors')):
                Authors = abstracts_temp.iloc[k]['rows']
        
        serie = pd.Series({'Paper' : Paper, 'Title':Title,'Authors':Authors}) #creo record per nuovo df con valori di interesse
        abstract_df = pd.concat([abstract_df, serie.to_frame().T]) #aggiungo il record nel nuovo df
        
    print("###########################################")
    

abstract_df

C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS\abstracts_folder\1992
###########################################
C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS\abstracts_folder\1993
###########################################
C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS\abstracts_folder\1994
###########################################
C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS\abstracts_folder\1995
###########################################
C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS\abstracts_folder\1996
###########################################
C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS\abstracts_folder\1997
###########################################
C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS\abstracts_folder\1998
###########################################
C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS\abstracts_folder\1999
###########################################
C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS\abstracts_folder\2000
###########################################
C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS\abstracts_folder\2001
###########################################
C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS\abstracts_folder\2002
###########################################
C:\Users\allen\Codice Vario\Tesi Magistrale\DATASETS\abstracts_folder\2003
###########################################

,Paper,Title,Authors
0,Paper: hep-th/9201001,Title: Combinatorics of the Modular Group II: ...,Authors: C. Itzykson and J.-B. Zuber
0,Paper: hep-th/9201002,Title: Inomogeneous Quantum Groups as Symmetri...,"Authors: F.Bonechi, E.Celeghini, R.Giachetti, ..."
0,Paper: hep-th/9201003,"Title: Intersection Theory, Integrable Hierarc...",Authors: Robbert Dijkgraaf
0,Paper: hep-th/9201004,Title: The Heterotic Green-Schwarz Superstring...,Authors: Nathan Berkovits
0,Paper: hep-th/9201005,Title: Ward Identities in Two-Dimensional Stri...,Authors: Igor R. Klebanov
...,...,...,...
0,Paper: hep-th/0304267,Title: Quantum corrections to the mass of the ...,Authors: D. V. Vassilevich
0,Paper: hep-th/0304268,Title: Lectures on Two-Dimensional Noncommutat...,Authors: L.D. Paniak and R.J. Szabo
0,Paper: hep-th/0304269,"Title: Strings, p-Branes and Dp-Branes With Dy...",Authors: Eduardo Guendelman and Alexander Kaga...
0,Paper: hep-th/0304270,Title: Topics in String Field Theory,"Authors: L. Bonora, C. Maccaferri, D. Mamone, ..."
0,Paper: hep-th/0304271,Title: The Glueball Superpotential,"Authors: Mina Aganagic, Ken Intriligator, Cumr..."

In [7]:
abstract_df.reset_index(drop = True, inplace = True)
abstract_df['Paper'] = abstract_df['Paper'].str.replace("Paper: hep-th/","")
abstract_df['Title'] = abstract_df['Title'].str.replace("Title: ","")
abstract_df['Authors'] = abstract_df['Authors'].str.replace("Authors: ","")
abstract_df

,Paper,Title,Authors
0,9201001,Combinatorics of the Modular Group II: the Kon...,C. Itzykson and J.-B. Zuber
1,9201002,Inomogeneous Quantum Groups as Symmetries of P...,"F.Bonechi, E.Celeghini, R.Giachetti, E.Sorace ..."
2,9201003,"Intersection Theory, Integrable Hierarchies an...",Robbert Dijkgraaf
3,9201004,The Heterotic Green-Schwarz Superstring on an ...,Nathan Berkovits
4,9201005,Ward Identities in Two-Dimensional String Theory,Igor R. Klebanov
...,...,...,...
29550,0304267,Quantum corrections to the mass of the supersy...,D. V. Vassilevich
29551,0304268,Lectures on Two-Dimensional Noncommutative Gau...,L.D. Paniak and R.J. Szabo
29552,0304269,"Strings, p-Branes and Dp-Branes With Dynamical...",Eduardo Guendelman and Alexander Kaganovich (B...
29553,0304270,Topics in String Field Theory,"L. Bonora, C. Maccaferri, D. Mamone, M. Salizzoni"
29554,0304271,The Glueball Superpotential,"Mina Aganagic, Ken Intriligator, Cumrun Vafa, ..."

In [8]:
abstract_df.to_csv("./paperId_and_info.csv",index=False)

# RIPARTO DA QUA

In [2]:
#LEGGO DATASET DI CITAZIONI

def castIntToString(inputIntValue): #funzione che fa cast in lettura
    return str(inputIntValue)


citations = pd.read_csv('citations(hep-th).csv',converters = {'NodeId': castIntToString})
citations = citations.astype({'NodeId':'string'})
citations

         NodeId  ToNodeId
0       0001001   9304045
1       0001001   9308122
2       0001001   9309097
3       0001001   9311042
4       0001001   9401139
...         ...       ...
138681  9912286   9805150
138682  9912286   9806074
138683  9912286   9808140
138684  9912286   9810068
138685  9912286   9901023

[138686 rows x 2 columns]

In [3]:
#LEGGO DATASET DI ARTICOLI E RELATIVE INFO (POSSONO ESSERE TROVATI SU ARXIV TRAMITE hep-th/NodeID)

paperId_and_info = pd.read_csv('paperId_and_info_and_Date.csv')
#paperId_and_info.rename(columns={'Paper' "NodeId"}, inplace = True)
paperId_and_info = paperId_and_info.astype({'NodeId':'string'})
paperId_and_info

,NodeId,Title,Authors,Date
0,9310201,Generalized Measures in Gauge Theory,J.M. Figueroa-O'Farrill,1993-10-01
1,9310202,String Propagation in Gravitational Wave Backg...,E. Kiritsis and C. Kounnas,1993-10-01
2,9312201,On Nonlinear Superconformal Algebras With N > 4,Z. Khviengia and E. Sezgin,1993-11-30
3,9312202,The Perturbative Calculation of the Spin-Spin ...,B. Mikhak and A.M. Zarkesh,1993-12-01
4,9312203,On Projective Gravity and the vanishing of the...,C. Gasparakis,1993-12-01
...,...,...,...,...
1732,9912290,Shuffling quantum field theory,Dirk Kreimer,1999-12-10
1733,9912291,Small object limit of Casimir effect and the s...,"O. Kenneth, S. Nussinov",1999-12-10
1734,9912292,1/4 PBGS and Superparticle Actions,"F.Delduc, E. Ivanov, S. Krivonos",1999-12-10
1735,9912293,Corrections to the Abelian Born-Infeld Action ...,L. Cornalba (I.H.E.S.),1999-12-10
1736,9912294,Relativistic particle interaction with a weak ...,"L. F. Blazhyjevskii, A. Y. Marko",1999-12-10

In [16]:
#FACCIO JOIN TRA I DUE DATASET 

citation_and_description = pd.merge(paperId_and_info,citations_and_dates)
citation_and_description

,NodeId,Title,Authors,ToNodeId,Date
0,9310201,Generalized Measures in Gauge Theory,J.M. Figueroa-O'Farrill,9301063,1993-10-01
1,9310201,Generalized Measures in Gauge Theory,J.M. Figueroa-O'Farrill,9305045,1993-10-01
2,9310202,String Propagation in Gravitational Wave Backg...,E. Kiritsis and C. Kounnas,9209023,1993-10-01
3,9310202,String Propagation in Gravitational Wave Backg...,E. Kiritsis and C. Kounnas,9210121,1993-10-01
4,9310202,String Propagation in Gravitational Wave Backg...,E. Kiritsis and C. Kounnas,9211061,1993-10-01
...,...,...,...,...,...
21311,9912293,Corrections to the Abelian Born-Infeld Action ...,L. Cornalba (I.H.E.S.),9907211,1999-12-10
21312,9912293,Corrections to the Abelian Born-Infeld Action ...,L. Cornalba (I.H.E.S.),9908105,1999-12-10
21313,9912293,Corrections to the Abelian Born-Infeld Action ...,L. Cornalba (I.H.E.S.),9908142,1999-12-10
21314,9912293,Corrections to the Abelian Born-Infeld Action ...,L. Cornalba (I.H.E.S.),9909081,1999-12-10
21315,9912293,Corrections to the Abelian Born-Infeld Action ...,L. Cornalba (I.H.E.S.),9909132,1999-12-10

In [26]:
citation_and_description['ToNodeId'].nunique()

6858

In [27]:
citation_and_description['NodeId'].nunique()

1566