In [25]:
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, date, time
import pandas as pd

In [26]:
paperId_and_info_and_date_Seed = pd.read_csv('paperId_and_info_and_date_Seed.csv')
paperId_and_info_and_date_Seed

,ToNodeId,Title,Authors,Date,Seed
0,9912289,Gauge Fixing in the Chain by Chain Method,A Shirzad and F Loran,1999-12-10,78d95058cd29c47f30a6cda6d326f89148d75705168ece...
1,9412202,"Conformal, Integrable and Topological Theories...",A. A. Abrikosov Jr,1994-12-01,2115ebc5c278cedb1a521a256a134915a833d516825ea1...
2,9412201,The Problem of Ground State in Thermo-Field Dy...,A. A. Abrikosov Jr,1994-12-01,2115ebc5c278cedb1a521a256a134915a833d516825ea1...
3,9806220,Dynamical Lorentz simmetry breaking from 3+1 A...,"A. A. Andrianov, R. Soldati, L. Sorbo",1998-06-02,3e57458efddb66c83d9ad7e9b3b7f47c002cbcd5161731...
4,9911246,Magnetic Interactions of D-branes and Wess-Zum...,"A. A. Tseytlin, K. Zarembo",1999-11-04,d7afc84280588842e043c9e453d5dcb15804567d96f073...
...,...,...,...,...,...
1732,9812254,Theory of Stochastic Space-Time. 1. Gravitatio...,"Zahid Zakir (Institute of Noosphere,Tashkent, ...",1998-12-04,aaed2e86214195c2a43150d0e6a4e288976f826ed59325...
1733,9605221,Three-Family $SO(10)$ Grand Unification in Str...,Zurab Kakushadze and S.-H. Henry Tye,1996-05-03,c410b9227d5f00b3b431f040735a9c60a8ab1e03f38ea4...
1734,9709214,Soliton Solutions of M-theory on an Orbifold,"Zygmunt Lalak (ITP Warsaw), Andre' Lukas (UPen...",1997-09-02,a47fcc6a52dca2ace234856a2f652c73c3085bde545c79...
1735,9707223,"Gaugino Condensation, Moduli Potentials and Su...",Zygmunt Lalak and Steven Thomas,1997-07-02,9f66b6f46a9adaebd9f69738418dbea1b9b3c2b7393138...
1736,9912206,Target-Space Duality in Heterotic and Type I E...,"Zygmunt Lalak, St\'ephane Lavignac, Hans Peter...",1999-12-01,4f87f9eeb28a85ea5560d0b6b8f3676382c44d2eff31d1...

In [27]:
citations_with_data= pd.read_csv('citations(hep-th)_with_Data.csv')
citations_with_data

      FromNodeId  ToNodeId
0        9503222   9310202
1        9312207   9312202
2        9910201   9312206
3        9712226   9312206
4        9807210   9312206
...          ...       ...
1972     9912250   9912210
1973     9912235   9912219
1974     9912287   9912233
1975     9912278   9912248
1976     9912274   9912254

[1977 rows x 2 columns]

In [60]:
len(np.unique(citations_with_data.FromNodeId.values))

809

In [61]:
len(np.unique(citations_with_data.ToNodeId.values))

668

In [38]:
#poiche dal set originale di citazioni sono state tolte quelle che non avevano dati corrispondenti
#in paperId_and_info_and_date_Seed => controlliamo ora quanti sono gli autori distinti
#che hanno scritto gli articoli contenuti in citations_with_data

A1 = paperId_and_info_and_date_Seed[paperId_and_info_and_date_Seed['ToNodeId'].isin(citations_with_data['FromNodeId'].values)]['Authors'].values

A2 = paperId_and_info_and_date_Seed[paperId_and_info_and_date_Seed['ToNodeId'].isin(citations_with_data['ToNodeId'].values)]['Authors'].values


uniqueAuthors = np.concatenate([A1,A2])
uniqueAuthors = np.unique(uniqueAuthors)
print(f'Il numero di autori distinti in citations_with_data è {len(uniqueAuthors)}')

#caricati[caricati['NodeId'].isin(sub_df['ToNodeId'].values)]['msgIdTangle'].values[0]

Il numero di autori distinti in citations_with_data è 878

In [28]:
#contiene tutti i distinti nodi del grafo (From & To) 
TOPOLOGICAL_SORT_df= pd.read_csv('TOPOLOGICAL_SORT_df.csv')

TOPOLOGICAL_SORT_df

            0
0     9912293
1     9912292
2     9912290
3     9912287
4     9912285
...       ...
1061  9312208
1062  9312207
1063  9312206
1064  9312202
1065  9310202

[1066 rows x 1 columns]

In [24]:
frontiera = []

for i in range(len(citations_with_data)):
    if(citations_with_data.iloc[i]['ToNodeId']not in citations_with_data['FromNodeId'].values):
        frontiera.append(citations_with_data.iloc[i]['ToNodeId'])

frontiera = np.unique(frontiera)
#print(frontiera)

In [23]:
#TOPOLOGICAL_SORT_df.tail(257)

# Analisi dei dataset generati da algo

In [175]:
DB_art_auth = pd.read_csv('./DB_articles_authors2.csv')
DB_art_auth

,FromNodeId,From_Author_Seed,ToNodeId,To_Author_Seed
0,f13c3cd1fc98160f7c33d72ba318e1137d7862286aba87...,c4a46746b60c6738c60fcd458ed1798b6b4acf606edeb4...,84bda08ac58cc7879de275e80903b146c7af3a0657c30b...,Not_available
1,8a205dec257af0da7f8f3cd051f18d5e50e112a12617d5...,33be2cf279fa9d545b648dfbda8f03c70000758e7e8bdc...,11eda9981669e642fce09db9c08ff9e0c5479335236b69...,Not_available
2,11eda9981669e642fce09db9c08ff9e0c5479335236b69...,33be2cf279fa9d545b648dfbda8f03c70000758e7e8bdc...,84bda08ac58cc7879de275e80903b146c7af3a0657c30b...,Not_available
3,11eda9981669e642fce09db9c08ff9e0c5479335236b69...,33be2cf279fa9d545b648dfbda8f03c70000758e7e8bdc...,f13c3cd1fc98160f7c33d72ba318e1137d7862286aba87...,c4a46746b60c6738c60fcd458ed1798b6b4acf606edeb4...
4,47b0090469d772ad28ffbea45ec01f14c5c90bafce5a82...,f9f119bcac7d31ca38ee3c7c800e14715e645f0e10fc59...,11eda9981669e642fce09db9c08ff9e0c5479335236b69...,33be2cf279fa9d545b648dfbda8f03c70000758e7e8bdc...
...,...,...,...,...
2948,f98f5d38562f0afade7a7d67c5357edbea35bbf65c5013...,9339a4abbb9ab0b0c5676aef38dc6fa5693910af172ff1...,6c8ea413095ac191f870d351d3223e95c16579b5606eba...,6a37e875902a1248b7ec4abb38e17a6339dccac5c6b6b2...
2949,f98f5d38562f0afade7a7d67c5357edbea35bbf65c5013...,9339a4abbb9ab0b0c5676aef38dc6fa5693910af172ff1...,765593baa1359ce466d91e9100ffe795109f2e7d544294...,4943ac1c40ff8499b826a41b48b624d28b4d6fb9ee2bb5...
2950,f98f5d38562f0afade7a7d67c5357edbea35bbf65c5013...,9339a4abbb9ab0b0c5676aef38dc6fa5693910af172ff1...,9ef262f7118e1cfb0c71f98d23cdb95e7371aba3e4b419...,31c8046964b4ac00760b907cb7e68726a3db99de6c7298...
2951,f98f5d38562f0afade7a7d67c5357edbea35bbf65c5013...,9339a4abbb9ab0b0c5676aef38dc6fa5693910af172ff1...,b0f1ff3b03ec8bc171dbdb34565eed70d869677a660201...,e727f73f479a8c5e204e8ba140087ce4dd9a8ca8c51ea5...
2952,f98f5d38562f0afade7a7d67c5357edbea35bbf65c5013...,9339a4abbb9ab0b0c5676aef38dc6fa5693910af172ff1...,d3264f6aa11a940131f5c4417fe4e31bc7c254f78a2a99...,75c1fe5a30a5813254fd61e0e0cb5fae53d0f6b57177cf...

In [183]:
len((DB_art_auth[DB_art_auth['To_Author_Seed']== 'Not_available'] ))

100

In [177]:
len(np.unique(DB_art_auth.FromNodeId.values))

1065

In [184]:
len(np.unique(DB_art_auth.From_Author_Seed.values))

877

In [185]:
len(np.unique(DB_art_auth.ToNodeId.values))

876

In [186]:
len(np.unique(DB_art_auth.To_Author_Seed.values))

716

In [78]:
1977+257

2234

In [181]:
# num articoli distinti caricati
uniqueNodes = np.concatenate([
np.unique(DB_art_auth.FromNodeId.values),np.unique(DB_art_auth.ToNodeId.values)])
uniqueNodes = np.unique(uniqueNodes)
len(uniqueNodes)

1071

In [182]:
# num autori distinti caricati

uniqueNodes = np.concatenate([
np.unique(DB_art_auth.From_Author_Seed.values),np.unique(DB_art_auth.To_Author_Seed.values)])
uniqueNodes = np.unique(uniqueNodes)
len(uniqueNodes)

878

In [189]:
Graph = pd.read_csv('./graph.csv', sep=' ')

'''

serie = np.arange(len(Graph))
print(serie)

Graph.set_index(serie, inplace = True)
'''
Graph

,From,To,Weight
0,00168ef7c9a4fed70901c32e2a3311a60893e328859fcd...,8461c5ed9597d635ec105c100be87336126720a6d9cdf6...,1
1,8461c5ed9597d635ec105c100be87336126720a6d9cdf6...,74627ea4caae01cd5889f6003e3e315063757c7ab3c338...,1
2,8461c5ed9597d635ec105c100be87336126720a6d9cdf6...,b1020eaf9b02c1f001f476ef44fb0f92e032f5b03ec676...,1
3,8461c5ed9597d635ec105c100be87336126720a6d9cdf6...,b52a7b6e1bfab89d73c164c9131936f47a0aba383c2106...,2
4,00a5614eecf54e2d713de00b7a6a75814ca14d57327791...,cccdcf360fd819c26119284d841a2492a2e84b03b1ebac...,1
...,...,...,...
2727,feca281ea68a9c47ec6fb59ec5d9f31d76105ad9d058a0...,4d0a038f1ad4dd45c68dcb1bc684c3081f99325da1f99f...,1
2728,feca281ea68a9c47ec6fb59ec5d9f31d76105ad9d058a0...,67d4d4ae9ec71f02534f69e444bb24d4058c9ceff8b9ab...,1
2729,feca281ea68a9c47ec6fb59ec5d9f31d76105ad9d058a0...,f7893c29b24b0722f592f514f3faa05928eb0c7db80cb7...,1
2730,ff24acad38556b1c8d521f449c0399008632be8d96b0c2...,0f4bdd6c320f8c7d2def0085244785fcc9b841c6a28249...,2
2731,ff24acad38556b1c8d521f449c0399008632be8d96b0c2...,7c7699a363945e1b8c78c1cb3033b2871ff3dd535455d5...,1

In [190]:
len(np.unique(Graph.From.values))

876

In [191]:
len(np.unique(Graph.To.values))

715

In [192]:
uniqueNodes = np.concatenate([np.unique(Graph.From.values),np.unique(Graph.To.values)])
uniqueNodes = np.unique(uniqueNodes)
len(uniqueNodes)

877