In [1]:
import numpy as np
from datetime import datetime, date, time
import pandas as pd

C:\Users\allen\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
#SINGLE VALUE IN PYTHON LIST
l = [10,1]
1 in l

True

In [ ]:
#WHOLE PANDAS COLUMN IN PYTHON LIST
s['ColumnName'].isin(listname).all()

In [ ]:
#PANDAS ROWS BY CONDITION IN OTHER PANDAS ROWS

caricati[caricati['NodeId']==VALORE] #standard approach

#condition tested in another df
caricati[caricati['NodeId'].isin(sub_df['ToNodeId'].values)]['msgIdTangle'].values[0]

In [4]:
#PRINT LAST X VALUES
df.tail(X)

NameError: name 'df' is not defined

In [ ]:
#RESET INDEX TO DF
s.reset_index(drop = True, inplace = True)

In [8]:
#ADD DINAMICALLY ROWS TO DF AND ACCESS TO THEM
caricati = pd.DataFrame(columns=['NodeId','msgIdTangle']) #definisco df

last = len(caricati)

caricati.loc[last,'NodeId'] = 'a' #aggiungo valori
caricati.loc[last,'msgIdTangle'] = 'valore'

last = len(caricati)

caricati.loc[last,'NodeId'] = 'a' #aggiungo valori
caricati.loc[last,'msgIdTangle'] = 'valore'

last = len(caricati)

caricati.loc[last,'NodeId'] = 'b' #aggiungo valori
caricati.loc[last,'msgIdTangle'] = 'valore2'


caricati

  NodeId msgIdTangle
0      a      valore
1      a      valore
2      b     valore2

In [14]:
#GET UNIQUE VALUES FROM DATAFRAME COLUMN
q = caricati[caricati['NodeId']=='a']['NodeId']
np.unique(q.values)[0]

'a'

In [5]:
#SCAN VALUES IN LIST
ll = ['a','b']
for i in ll:
    print(i)

a
b

In [18]:
#REMOVE ELEMENT FROM LIST
ll.remove('a')
ll

['b']

In [21]:
#NUMPY UNIQUE AND DELETE
res = np.unique([1,2,4,3,2,1,4,2,4])
print(res)
res = np.delete(res, np.argwhere(res == 1))
print(res)

[1 2 3 4]
[2 3 4]

In [46]:
#USO CLASSICO DI DB SU PANDAS

database = pd.DataFrame(columns=['Autore1','Autore2']) #definisco df



database.loc['Autore1','Autore1'] = 'si' #aggiungo valori
database.loc['Autore1','Autore2'] = 'no'

database.loc['Autore2','Autore1'] = 'si' #aggiungo valori
database.loc['Autore2','Autore2'] = 'no'

database.loc['Autore3','Autore1'] = 'no' #aggiungo valori
database.loc['Autore3','Autore2'] = 'no'

database.loc['Autore4','Autore1'] = 'nn' #aggiungo valori
database.loc['Autore4','Autore2'] = 'nn'

database

        Autore1 Autore2
Autore1      si      no
Autore2      si      no
Autore3      no      no
Autore4      nn      nn

In [47]:
#NUMPY UNIQUE VALUE COUNT
res = np.unique(database.Autore1.values,return_counts=True)
res

(array(['nn', 'no', 'si'], dtype=object), array([1, 1, 2], dtype=int64))

In [49]:
#NUMPY ACCESS TO UNIQUE VALUES COUNT
for i in range(len(res[0])):
    print(res[0][i])
    print(res[1][i])
    print('')

nn
1

no
1

si
2

In [51]:
#df to txt

database = pd.DataFrame(columns=['Autore1','Autore2']) #definisco df



database.loc['Autore1','Autore1'] = 'si' #aggiungo valori
database.loc['Autore1','Autore2'] = 'no'

np.savetxt(r'./valori.txt', database.values, fmt='%s')

In [ ]:
#LAST X ROWS OF DF
df.tail(X)